.video-marketing-main-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff000;
    transition: 0.5s ease-in-out;

    .video-file{
        min-width: 130%;

    }

}